<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Counter Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Word Count</h1>
    <div class="jumbotron">
    <form action="{% url "count" %}" method="get">
    <textarea cols="50" rows="4" name="q"></textarea>
        <br>
        <br>
        <input class="btn-primary btn" type="submit" value="Count"/>
    </form></div></div>

</body>
</html>